<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.bulibucai.dao.StudentMapper">

  <select id="getStuById" resultType="site.bulibucai.bean.Student">
    select * from student where id=#{id}
  </select>

  <select id="getStuByIdAndLastName" resultType="site.bulibucai.bean.Student">
    select * from student where id=#{id} and last_name=#{lastName}
  </select>

  <select id="getStuByPojo" resultType="site.bulibucai.bean.Student">
    select * from student where id=#{id} and last_name=#{lastName}
  </select>

  <insert id="insertStu" useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
    insert into student(last_name,gender)
    values(#{lastName}, #{gender})
  </insert>

  <insert id="insertStu" useGeneratedKeys="true" keyProperty="id" databaseId="oracle">
    <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
      select student_seq.nextval from dual
    </selectKey>
    insert into student(id,last_name,gender)
    values(#{id},#{lastName},#{gender})
  </insert>

  <update id="updateStu">
    update student set last_name=#{lastName}, gender=#{gender} where id=#{id}
  </update>

  <delete id="delStuById">
    delete from student where id=#{id}
  </delete>

  <delete id="delStuByGender">
    delete from student where gender=#{gender}
  </delete>

</mapper>