<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.bulibucai.dao.DepartmentMapper">

  <select id="getDeptById" resultType="site.bulibucai.bean.Department">
    select * from department where id=#{id}
  </select>
</mapper>